<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\Source\Rova\src\WebUI\bin\Debug\netcoreapp3.1\Rova.WebUI.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="DOTNET_ENVIRONMENT" value="Development" />
          <!--TODO: if you are go to production please change this are from Development to Production-->
          <!--<environmentVariable name="DOTNET_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />-->
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>