<div class="navbar-header" [ngClass]="rovaConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/rova.svg">
        <span class="logo-text">ROVA</span>
    </div>

    <button mat-icon-button class="toggle-sidebar-folded"
            (click)="toggleSidebarFolded()" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened"
            (click)="toggleSidebarOpened()" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" rovaPerfectScrollbar [rovaPerfectScrollbarOptions]="{suppressScrollX: true}"
     [ngClass]="rovaConfig.layout.navbar.primaryBackground">
    <rova-navigation layout="vertical"></rova-navigation>
</div>